* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: 'Helvetica', Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.interes {
    font-weight: bold;
    background: linear-gradient(to right, rgb(255, 170, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150%;
}

.card-header a {
  font-weight: bold;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

/* Cards */

.card {
  width: 80%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 5px;
}

.card-carrito {
  width: 70%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 5px;
}

.card-producto {
  width: 85%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 5px;
}

.card-ingreso {
  width: 55%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 5px;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #ff9041, #d72607);
  color: #fff;
  border-radius: 5px;
}

.card-body {
  padding: 30px 20px;
  font-size: 18px;
  text-align: center;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff9041, #d72607);
  padding: 10px 5px;
  width: 100%;
  transition: 0.3s;
  border: none;
}

.card-body .btn:hover {
  transform: scale(1.05);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.titulo-producto {
  margin-bottom: 20px;
}

/* Comienzo de la NavBar */

.navbar {
    background: white;
    box-shadow: 0px 0px 10px #cfd8dc;
    padding: 1rem 0;
    border-radius: 0.2rem;
    align-items: center;
  }
  
  #main-nav {
    list-style-type: none;
    display: none;
    flex-direction: row;
    margin-top: 10px;
  }
  
  #main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .nav-links,
  #logo {
    text-decoration: none;
    color: black;
  }
  
  #logo:hover,
  .nav-links:hover {
    color: orange;
	  scale: (1.05);
  }
  
  #logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  #navbar-toggle {
    position: absolute;
    top: 27px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
  }

/* Utilizamos nuestro logo. */

.logo img {
    height: 40px;
    width: auto;
    justify-content: flex-start;
}

.first-child {
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 2rem;
}

/* Botones */

.btn-primary {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  background: linear-gradient(to right, #ff9041, #d72607);
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  color: white;
}

.btn-primary:hover {
  transform: scale(1.1);
}

/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.footer-item {
  flex: 1;
  margin: 5px;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.registration-form {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a {
  color: rgb(255, 119, 0);
  text-decoration: none;
}

.recover-password {
  margin-left: 2px;
}

input {
  user-select: none;
}

#div-terminos {
  margin-bottom: 20px;
  letter-spacing: 100%;
}

input#terminos {
  margin-right: 5px;
}

img.card-header {
  max-width: 100px;
  max-height: 100px;
}

/* Producto */

.product-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.product-image img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.product-details {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.product-name {
  font-size: 2em;
  margin: 0;
}

.product-description {
  margin: 10px 0;
  font-size: 0.9em;
}

.product-price {
  font-size: 1.5em;
  color: #ff6600;
  margin: 10px 0;
}

.product-category {
  margin: 10px 0;
  font-size: 1em;
  color: #555;
}

/* Responsive Media Queries */

@media screen and (min-width: 621px) {
  .card {
    width: 80%;
  }
}

@media screen and (min-width: 1001px) {
  .card {
    width: 18%;
  }
}

/* Navbar con Mobile Menu */
@media screen and (min-width: 768px) {
  
  .navbar {
    background: white;
    box-shadow: 0px 0px 10px #cfd8dc;
    padding: 1rem 0;
    border-radius: 0.2rem;
    align-items: center;
    display: flex;
  }

  #main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }

} 